version: '3.7'

#컴퓨터들
#컴퓨터들
services:
  #컴퓨터이름
  my-backend:
    image: asia.gcr.io/eternal-impulse-370212/mybackend10-nestjs:2.3
    platform: linux/x86_64
    build:
      context: .
      dockerfile: Dockerfile.prod
    # volumes:
    #   - ./src:/myfolder/src
    # ports:
    #   - 3000:3000
    # env_file:
    #   - ./.env.prod

  # #컴퓨터이름
  # my-database:
  #   image: mysql:latest
  #   environment:
  #     MYSQL_DATABASE: 'mydocker10'
  #     MYSQL_ROOT_PASSWORD: 'root'
  #   ports:
  #     - 3306:3306
